/* ==== GLOBAL STYLES ==== */
body {
  font-family: 'Helvetica Neue', sans-serif;
  /* Slightly refined version of Helvetica */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* Improved readability */
  color: #333;
  /* Dark grey for better readability */
}

/* ==== NAVIGATION ==== */
.navbar {
  background-color: #ffc71d;
  padding: 1rem 0;
  /* Balanced vertical padding */
}

/* ==== GRADIENT STYLES ==== */
.gradient-custom {
  background: linear-gradient(to right, rgba(250, 112, 154, 0.7), rgba(254, 225, 64, 0.7));
}

h1.gradient-custom {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
}

/* ======== HERO SECTION ======== */
.hero-section {
  background: linear-gradient(45deg, #f3ec78, #af4261);
  padding: 5rem 0;
  border-radius: 8px;
}


.subheading {
  font-size: 1.5rem;
  color: white;
  margin: 1rem 0;
}

.action-buttons {
  margin-top: 2rem;
}

/* ==== CARD STYLES ==== */
.card {
  background: #ffffff;
  color: #444;
  /* Darker than body for contrast */
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  /* Slightly reduced intensity */
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  /* Dark overlay for contrast */
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  color: #ffffff;
  /* Making text color white */
}

/* Adding text shadow for better visibility against busy backgrounds */
.card h3,
.card p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  color: white;
}

/* Increasing font weight and size */
.card h3 {
  font-weight: bold;
  font-size: 1.5em;
}

.card p {
  font-size: 1.2em;
}

.card-header {
  background-color: #ffd000;
  color: #ffffff;
  /* Explicitly white for clarity */
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* ==== BUTTON STYLES ==== */

.btn, .form-button {
  padding: 0.5rem 1rem;  /* Adjust padding to make buttons smaller */
  font-size: 0.9rem;  /* Optionally adjust font size */
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: rgba(9, 169, 33, 0.907);  /* Set background color to blue */
  color: white;  /* Set text color to white */
}

/* Updated hover effect */
.btn:hover, .form-button:hover {
  background-color: darkblue;  /* Darker shade of blue on hover */
}


/* ==== TEXT STYLES ==== */
.welcomeMessage {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

/* ==== MISC ==== */
.custom-button-color {
  background-color: #ffffff;
  border-color: #ffd000;
  color: #333;
}


.userImage {
  max-width: 200px;
  max-height: 200px;
}

/* Loading screen styles */
.loading-screen {
  position: fixed;
  z-index: 1000;
  /* Keep it on top */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  /* white background with a little transparency */
  display: flex;
  justify-content: center;
  /* Center the loader horizontally */
  align-items: center;
  /* Center the loader vertically */
}

/* Simple spinner loader */
.loader {
  border: 0.3em solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 0.3em solid #000;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tilt-background {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, rgba(250, 112, 154, 0.7), rgba(254, 225, 64, 0.7));

}

.tilt-background::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(250, 112, 154, 0.7), rgba(254, 225, 64, 0.7));
  transform: rotate(-15deg);
  z-index: -1;
  pointer-events: none;
}

@keyframes movingBackground {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}


.event-card-background {
  background-color: wheat;
}


.event-card {
  width: 500px;
  /* This will take one-third of the container's width minus margin */
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /* Smoother transition */
  overflow: hidden;
  /* In case child elements spill out, especially after transformations */
  flex: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* To prevent the card from shrinking */
}

.event-card:hover {
  transform: translateY(-10px);
  /* More pronounced hover effect */
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
}

/* Event Date */
.event-date {
  font-size: 0.9rem;
  /* Slightly increased font size for better visibility */
  color: #888;
  margin-bottom: 8px;
  /* Increase margin for better spacing */
}


/* Event Name */
.event-name {
  font-size: 0.9rem;
  color: #333;
  margin: 5px 0;
  font-weight: bold;
}

/* Event Description */
.event-description {
  font-size: 0.9rem;
  /* Adjust to your preference */
  color: #555;
  margin-bottom: 10px;
  overflow: hidden;
  /* Ensures the content doesn't spill out */
  text-overflow: ellipsis;
  /* Adds ... if the content overflows */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

/* Event Action Buttons */
.event-actions {
  display: flex;
  gap: 10px;
}

/* For tablets and smaller devices */
@media only screen and (max-width: 992px) {

  /* For medium-sized devices */
  .event-card {
    width: calc(50% - 20px);
    /* 2 cards in a row */
  }
}

@media only screen and (max-width: 576px) {

  /* For mobile devices */
  .event-card {
    width: 100%;
    /* 1 card per row */
    margin: 10px 0;
  }
}


.details-btn {
  background-color: #2980B9;
  color: #fff;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
}

.details-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}

/* Universal Styles */
.form-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}


.recipe-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.recipe-image {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recipe-summary {
  margin-bottom: 20px;
}

.recipe-button a {
  color: white;
  text-decoration: none;
}

.recipe-button a:hover {
  text-decoration: underline;
}

/* ChatComponent.module.css */

.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message {
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-input button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-input button:hover {
  background-color: #0056b3;
}